apiVersion: v2
name: dss
description: A Helm chart to deploy the InterUSS DSS to Kubernetes
type: application
version: 0.1.0
appVersion: "snapshot"
dependencies:
  - name: cockroachdb
    repository: https://charts.cockroachdb.com/
    version: 10.0.7
    condition: cockroachdb.enabled
  - name: yugabyte
    repository: https://interuss.github.io/yugabyte-charts/
    version: 2025.1.0
    condition: yugabyte.enabled
  - name: prometheus
    repository: https://prometheus-community.github.io/helm-charts
    version: 27.51.0
    condition: monitoring.enabled
  - name: grafana
    repository: https://grafana.github.io/helm-charts
    version: 10.3.1
    condition: monitoring.enabled
