# Default configuration

dss:
  conf:
    evict:
      scd:
          enableCron: false
          schedule: "0 2 * * *"
          ttl: 2688h
          operationalIntents: true
          subscriptions: true
      rid:
          enableCron: true
          schedule: "*/30 * * * *"
          ttl: 30m
          ISAs: true
          subscriptions: true


cockroachdb:
  enabled: true
  # See https://github.com/cockroachdb/helm-charts/blob/master/cockroachdb/values.yaml
  image:
    repository: cockroachdb/cockroach
  tls:
    certs:
      provided: true
      nodeSecret: cockroachdb.node
      clientRootSecret: cockroachdb.client.root
      selfSigner:
        enabled: false
  ingress:
    enabled: false

yugabyte:
  enabled: false
  # See https://github.com/yugabyte/charts/blob/master/stable/yugabyte/values.yaml

  Image: # Ensure you use an image with mtls working, see https://github.com/yugabyte/yugabyte-db/commit/89685fa888daca54eb3164a8c301e3bda8cf41b0
    repository: interuss/yugabyte
    tag: 2025.1.2.1-interuss

  nameOverride: dss-yugabyte

  isMultiAz: true

  masterAddresses: "yb-master-0.yb-masters.default.svc.cluster.local:7100,yb-master-1.yb-masters.default.svc.cluster.local:7100,yb-master-2.yb-masters.default.svc.cluster.local:7100"

  tls:
    enabled: true
    nodeToNode: true
    clientToServer: true
    insecure: false
    provided: true

  gflags:
    master:
      node_to_node_encryption_use_client_certificates: "true"
    tserver:
      node_to_node_encryption_use_client_certificates: "true"
