# See values.schema.json for schema description

dss:
  image: docker.io/interuss/dss:v0.15.0 # See https://hub.docker.com/r/interuss/dss/tags for official image releases.
  # When running local images in minikube, uncomment the following line
  # imagePullPolicy: Never
  conf:
    pubKeys:
      - /test-certs/auth2.pem
    jwksEndpoint: ''
    jwksKeyIds: []
    hostname: dss.example.com
    enableScd: true

cockroachdb:
  enabled: true
  # See https://github.com/cockroachdb/helm-charts/blob/master/cockroachdb/values.yaml
  image:
    tag: v24.1.3
  fullnameOverride: dss-cockroachdb
  conf:
    join: []
    cluster-name: interuss-example
    single-node: false
    locality: zone=interuss-example-google-ew1

  statefulset:
    replicas: 3 # Must match the number of .loadBalancers.cockroachdbNodes items.
    args:  # Remove this whole block for minikube
      - --locality-advertise-addr=zone=interuss-example-google-ew1@$(hostname -f)
      - --advertise-addr=${HOSTNAME##*-}.db.example.com
    updateStrategy:
      rollingUpdate:
        partition: 0 # Used for migrations. See /deploy/MIGRATIONS.md#helm-deployment-notes

  storage:
    persistentVolume:
      storageClass: standard

yugabyte:
  enabled: false
  # See https://github.com/yugabyte/charts/blob/master/stable/yugabyte/values.yaml

  gflags:
    master:
      placement_cloud: "cloud-1"
      placement_region: "uss-1"
      placement_zone: "zone-1"
    tserver:
      placement_cloud: "cloud-1"
      placement_region: "uss-1"
      placement_zone: "zone-1"

  # If you join a yugabyte cluster, set the masterAddresses there
  # masterAddresses: "yb-master-0.yb-masters.default.svc.cluster.local:7100,yb-master-1.yb-masters.default.svc.cluster.local:7100,yb-master-2.yb-masters.default.svc.cluster.local:7100"

loadBalancers:
  cockroachdbNodes:
    - ip: 192.168.0.21
#      subnet: subnet-xxx # for aws only
    - ip: 192.168.0.22
#      subnet: subnet-xxx # for aws only
    - ip: 192.168.0.23
#      subnet: subnet-xxx # for aws only
  yugabyteMasterNodes:
    - ip: 192.168.0.31
#      subnet: subnet-xxx # for aws only
    - ip: 192.168.0.32
#      subnet: subnet-xxx # for aws only
    - ip: 192.168.0.33
#      subnet: subnet-xxx # for aws only
  dssGateway:
    ip: 192.168.0.10
#    subnet: subnet-xxx # for aws only
#    certName: arn:xxxx # for aws only

global:
  cloudProvider: google
