# See values.schema.json for schema description

dss:
  image: docker.io/interuss/dss:v0.15.0 # See https://hub.docker.com/r/interuss/dss/tags for official image releases.
  conf:
    pubKeys:
      - /test-certs/auth2.pem
    jwksEndpoint: ''
    jwksKeyIds: []
    hostname: dss.example.com
    enableScd: true

cockroachdb:
  # See https://github.com/cockroachdb/helm-charts/blob/master/cockroachdb/values.yaml
  fullnameOverride: dss-cockroachdb
  conf:
    join: []
    cluster-name: interuss-example
    single-node: false
    locality: zone=interuss-example-google-ew1

  statefulset:
    replicas: 3 # Must match the number of .loadBalancers.cockroachdbNodes items.
    args:
      - --locality-advertise-addr=zone=interuss-example-google-ew1@$(hostname -f)
      - --advertise-addr=${HOSTNAME##*-}.db.example.com

  storage:
    persistentVolume:
      storageClass: standard

loadBalancers:
  cockroachdbNodes:
    - ip: 192.168.0.21
#      subnet: subnet-xxx # for aws only
    - ip: 192.168.0.22
#      subnet: subnet-xxx # for aws only
    - ip: 192.168.0.23
#      subnet: subnet-xxx # for aws only
  dssGateway:
    ip: 192.168.0.10
#    subnet: subnet-xxx # for aws only
#    certName: arn:xxxx # for aws only

global:
  cloudProvider: google
