
    <h1>Auth Spec and configs</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.auth_spec.label }}<br>
            {{ form.auth_spec(size=32) }}<br>
            {% for error in form.auth_spec.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.user_config.label }}<br>
            {{ form.user_config(size=32) }}<br>
            {% for error in form.user_config.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <p>{% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </p>
    </form>