{% extends 'base.html' %}

{% block body %}
    <h2>Auth Spec and configs</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <h4>{{ form.auth_spec.label }}</h4>
            {{ form.auth_spec(size=32) }}<br>
            {% for error in form.auth_spec.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <h4>{{ form.user_config.label }}</h4>
            {{ form.user_config(rows='20',cols='50') }}<br>
            {% for error in form.user_config.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <p>{% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </p>
    </form>
    {% if data.job_id %}
        <div id="get-result">
            <form method="post" action="/result/{{data.job_id}}">
                <input type="submit" value="Get Result" >
            </form>
            <p>{{ data.job_id }}</p>
        </div>
    {% endif %}
{% endblock %}