{% extends 'base.html' %}

{% block head %}
<script>
    var task_status = '';
    let data = JSON.parse('{{ data | tojson }}');
    var refreshIntervalId;
    var firstTimeCheck = 0;
    var minutesInterval = 0;
    var timeTaken = 0;
    var timeTakenStr = '';
    var taskStatusStr = '';
    var startedTask = '';
    var startTime = new Date().getTime();
    var xhrPool = [];
    function getStatusHtml(task_status, timeTaken, refreshIntervalId) {
        try {
            taskStatusStr = 'Current task status: ' + task_status[0].toUpperCase() + task_status.slice(1);
        } catch(err) {
            clearInterval(refreshIntervalId);
            return '';
        }
        if(timeTaken > 0) {
            timeTakenStr =  ' Time taken: ' + timeTaken + ' minute' + (timeTaken === 1 ? "" : "s");
        }
        return taskStatusStr + '<br/>' + timeTakenStr;
    }
    function getCurrentStatus() {
        var current_request = $.ajax({
                method: 'GET',
                url: '/result/{{data.job_id}}',
                success: function(response) {
                    currentTime = new Date().getTime();
                    timeTaken = Math.round((((currentTime - startTime) % 86400000) % 3600000) / 60000);
                    task_status = response.task_status;
                    $("#current-status").html(getStatusHtml(task_status, timeTaken, refreshIntervalId));
                    $("#status").show();
                    if(task_status === 'started' || task_status === 'queued') {
                        $(".spinner").show();
                        $("#status").removeClass("alert-danger").addClass("alert-success");
                        $('.config-submit').attr('disabled', true);
                        if(firstTimeCheck === 0) {
                            // check first time response in 30 secs.
                            minutesInterval = 0.5;
                            firstTimeCheck = 1;
                        } else {
                            minutesInterval = 1;
                        }
                        refreshIntervalId = setInterval(function() {
                            getCurrentStatus()
                        }, 1000 * 60 * minutesInterval);
                    } else {
                        clearInterval(refreshIntervalId);
                        console.log('interval cleared: ', refreshIntervalId);
                        if(task_status !== 'finished'){
                            $("#status").removeClass("alert-success").addClass("alert-danger");
                        }
                        $('.config-submit').attr('disabled', false);
                        $(".spinner").hide();
                        if(task_status === 'finished') {
                            $(".get-result").show();
                        }
                    }
                }
            });
            xhrPool.push(current_request);
            if(task_status === 'finished' || task_status === 'failed') {
                $.each(xhrPool, function(idx, jqXHR) {
                    console.log('Aborting current request');
                    jqXHR.abort();
                });
                // empty xhrPool
                xhrPool = [];
            }
        }
    </script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="content-section">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
            
                        <div class="form-group">
                            <div class="form-check">
                                <!-- {{ form.flight_records(class="form-check-input") }}
                                {{ form.flight_records.label(class="form-check-label") }} -->
            
                                {% if form.flight_records.errors %}
                                    {{ form.flight_records(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.flight_records.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.flight_records.label(class="form-check-label") }} 
                                    {{ form.flight_records(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
            
                        <legend class="border-bottom mb-4">User Spec</legend>
                        <div class="form-group">
                            {{ form.auth_spec.label(class="form-control-label") }}
            
                            {% if form.auth_spec.errors %}
                                {{ form.auth_spec(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.auth_spec.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.auth_spec(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.user_config.label(class="form-control-label") }}
            
                            {% if form.user_config.errors %}
                                {{ form.user_config(class="form-control form-control-lg is-invalid", rows='7') }}
                                <div class="invalid-feedback">
                                    {% for error in form.user_config.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.user_config(class="form-control form-control-lg", rows='7') }}
                            {% endif %}
                        </div>
                        <div class="form-check">
                            {{ form.sample_report(class="form-check-input") }}
                            {{ form.sample_report.label(class="form-check-label") }}
                        </div>
                    </fieldset>
            
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info config-submit") }}
                        <a onclick="window.history.back();" class="back btn btn-outline-info">back</a>
                    </div>
                </form>
                {% if data.job_id %}
                    <script>
                        if(data.job_id != startedTask) {
                            $(document).ready(getCurrentStatus());
                            startedTask = data.job_id;
                        }
                    </script>
                {% endif %}
                <div id="status-container">
                    <div id="status" class="alert " style="display: none;">
                        <div id="current-status"></div>
                        <div id="spinner" class="spinner" style="display: none;">
                            <div>Processing ..</div>
                            <img src="/static/images/spinner.gif"/>
                        </div>
                    </div>
                    <div id="getresult" class="form-group get-result" style="display: none;">
                        <form method="post" action="/report/{{data.filename}}">
                            <input type="submit" value="Get Result" >
                        </form>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-4">
            {% if data.tests %}
                <label for="history">Existing Tests results</label>
                <div id="history" class="container">
                    {% for file in data.tests %}
                        <a href="/test_download/{{file}}" download>{{file}}</a>
                    {% endfor %}
                </div>
            {% else %}
            <p>No existing test results.</p>
            {% endif %}
          </div>
    </div>
</div>
{% endblock %}
