[submodule "interfaces/uastech/standards"]
	path = interfaces/uastech/standards
	url = https://github.com/uastech/standards
[submodule "interfaces/astm-utm/Protocol"]
	path = interfaces/astm-utm/Protocol
	url = https://github.com/astm-utm/Protocol
