[submodule "interfaces/astm-utm/Protocol"]
	path = interfaces/astm-utm/Protocol
	url = https://github.com/astm-utm/Protocol
[submodule "interfaces/rid/v1"]
	path = interfaces/rid/v1
	url = https://github.com/uastech/standards
[submodule "interfaces/rid/v2"]
	path = interfaces/rid/v2
	url = https://github.com/uastech/standards
[submodule "interfaces/automated_testing_interfaces"]
	path = interfaces/automated_testing_interfaces
	url = https://github.com/interuss/automated_testing_interfaces.git
