{% extends "base.html" %}

{% macro collapseable(v) %}{% if v is mapping or (v is iterable and v is not string) %}collapseable{% else %}not_collapseable{% endif %}{% endmacro %}

{% macro draw_value(v) %}
  {% if v is mapping %}
    {{ draw_node(v) }}
  {% elif v is string %}
    {{ v }}
  {% elif v is iterable %}
    {{ draw_list(v) }}
  {% else %}
    {{ v }}
  {% endif %}
{% endmacro %}

{% macro draw_node(node) %}
  <ul>
    {% for k, v in node.items() %}
      <li class="{{ collapseable(v) }}">
        <div class="node_key">{{ k }}</div>:
        <div class="node_value">{{ draw_value(v) }}</div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro draw_list(items) %}
  <ul>
    {% for v in items %}
      <li class="{{ collapseable(v) }}">
        <div class="node_key">item_{{ loop.index }}</div>:
        <div class="node_value">{{ draw_value(v) }}</div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block content %}
  <style>
    ul, ul ul, ul li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    ul ul { padding-left: 0.3em; }
    ul li {
      padding-left: 14px;
    }
    li div {
      display: inline;
    }
    .collapseable>.node_key:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .collapsed>.node_key {
      color: red;
    }
    .node_key {
      font-weight: bold;
    }
  </style>
  <div id="top_node">
    {{ draw_node(log) }}
  </div>
  <script>
    function showHide(node) {
      var value = node.querySelector(".node_value");
      if (node.classList.contains("collapsed")) {
        node.classList.remove("collapsed");
        for (var i = 0; i < value.children.length; i++) {
          value.children[i].style.display = "block";
        }
      } else {
        node.classList.add("collapsed");
        for (var i = 0; i < value.children.length; i++) {
          value.children[i].style.display = "none";
        }
      }
    }

    function addShowHide(node) {
      if (node.classList.contains("collapseable")) {
        let key = node.querySelector(".node_key");
        key.addEventListener("click", function () { showHide(node); });
        let values = node.querySelector(".node_value ul");
        if (values.children.length > 3) {
          showHide(node);
        }
      }
      for (var i = 0; i < node.children.length; i++) {
        addShowHide(node.children[i]);
      }
    }

    addShowHide(document.getElementById("top_node"));
  </script>
{% endblock %}
