services:
  ci-aws-1:
    build: .
    image: interuss-deploy
    profiles: ["aws-1"]
    command: operations/ci/aws-1/test.sh
    working_dir: /opt/dss/deploy
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_REGION
      - TF_VAR_app_hostname
      - TF_VAR_authorization
      - TF_VAR_aws_iam_administrator_role
      - TF_VAR_aws_iam_ci_role
      - TF_VAR_aws_iam_permissions_boundary
      - TF_VAR_aws_role_to_assume
      - TF_VAR_aws_route53_zone_id
      - TF_VAR_db_hostname_suffix
    volumes:
      - type: bind
        source: ../../
        target: /opt/dss/
