{{- $cloudProvider := $.Values.global.cloudProvider}}

# Node Gateways
{{- range $i, $lb := .Values.loadBalancers.cockroachdbNodes }}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
    {{- include (printf "%s-lb-crdb-annotations" $cloudProvider)
      (dict
        "name" (printf "%s-%s" "cockroach-db-external-node" ( $i | toString) )
        "ip" $lb.ip
        "subnet" $lb.subnet
        "cloudProvider" $cloudProvider
      ) | nindent 4
    }}
  labels:
    app: cockroachdb
    name: cockroach-db-external-node-{{$i}}
  name: cockroach-db-external-node-{{$i}}
  namespace: default
spec:
  {{- include (printf "%s-lb-spec" $cloudProvider) (dict "ip" $lb.ip) | nindent 2}}
  ports:
    - name: cockroach-db-external-node-{{$i}}
      port: 26257
      targetPort: 26257
  publishNotReadyAddresses: true
  selector:
    statefulset.kubernetes.io/pod-name: {{$.Release.Name}}-cockroachdb-{{$i}}
  type: LoadBalancer
{{- end }}
