{{- $image := .Values.dss.image }}
{{- $datastoreHost := (include "datastoreHost" .) -}}
{{- $datastorePort := (include "datastorePort" .) -}}
{{- $datastoreUser := (include "datastoreUser" .) -}}

---
apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    name: dss-scd-evict
  name: dss-scd-evict
  namespace: default
spec:
  schedule: "{{ $.Values.dss.conf.evict.scd.schedule }}"
  suspend: {{ not $.Values.dss.conf.evict.scd.enableCron }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - args:
                - --scd_oir={{ $.Values.dss.conf.evict.scd.operationalIntents }}
                - --scd_sub={{ $.Values.dss.conf.evict.scd.subscriptions }}
                - --rid_isa=false
                - --rid_sub=false
                - --scd_ttl={{ $.Values.dss.conf.evict.scd.ttl }}
                - --cockroach_host={{ $datastoreHost }}
                - --cockroach_port={{ $datastorePort }}
                - --cockroach_user={{ $datastoreUser }}
  {{- if $.Values.cockroachdb.enabled }}
                - --cockroach_ssl_dir=/cockroach/cockroach-certs
                - --cockroach_ssl_mode=verify-full
  {{- else }}
                - --cockroach_ssl_dir=/opt/yugabyte-certs/
                - --cockroach_ssl_mode=verify-full
  {{- end }}
              command:
                - db-manager
                - evict
              image: {{$image}}
              imagePullPolicy: IfNotPresent
              name: dss-scd-evict
              stdin: false
              tty: false
              volumeMounts:
                {{- include "ca-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 16 }}
                {{- include "client-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 16 }}
          imagePullSecrets: []
          terminationGracePeriodSeconds: 30
          volumes:
            {{- include "ca-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}
            {{- include "client-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}

---
apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    name: dss-rid-evict
  name: dss-rid-evict
  namespace: default
spec:
  schedule: "{{ $.Values.dss.conf.evict.rid.schedule }}"
  suspend: {{ not $.Values.dss.conf.evict.rid.enableCron }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - args:
                - --scd_oir=false
                - --scd_sub=false
                - --rid_isa={{ $.Values.dss.conf.evict.rid.ISAs }}
                - --rid_sub={{ $.Values.dss.conf.evict.rid.subscriptions }}
                - --rid_ttl={{ $.Values.dss.conf.evict.rid.ttl }}
                - --cockroach_host={{ $datastoreHost }}
                - --cockroach_port={{ $datastorePort }}
                - --cockroach_user={{ $datastoreUser }}
  {{- if $.Values.cockroachdb.enabled }}
                - --cockroach_ssl_dir=/cockroach/cockroach-certs
                - --cockroach_ssl_mode=verify-full
  {{- else }}
                - --cockroach_ssl_dir=/opt/yugabyte-certs/
                - --cockroach_ssl_mode=verify-full
  {{- end }}
              command:
                - db-manager
                - evict
              image: {{$image}}
              imagePullPolicy: IfNotPresent
              name: dss-rid-evict
              stdin: false
              tty: false
              volumeMounts:
                {{- include "ca-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 16 }}
                {{- include "client-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 16 }}
          imagePullSecrets: []
          terminationGracePeriodSeconds: 30
          volumes:
            {{- include "ca-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}
            {{- include "client-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}
