{{- $dss := .Values.dss -}}

{{- $datastoreImage := (include "datastoreImage" .) -}}
{{- $datastoreHost :=  (include "datastoreHost" .) -}}
{{- $datastorePort :=  (include "datastorePort" .) -}}
{{- $datastoreUser :=  (include "datastoreUser" .) -}}

{{- $waitForDatastore := include "init-container-wait-for-http" (dict "serviceName" "cockroachdb" "url" (printf "http://%s:8080/health" $datastoreHost)) -}}
{{- if .Values.yugabyte.enabled }}
{{- $waitForDatastore = include "init-container-wait-for-http" (dict "serviceName" "yb-tserver" "url" (printf "http://%s:9000/status" $datastoreHost)) -}}
{{- end -}}

{{- $waitForRIDSchema := include "init-container-wait-for-schema" (dict "schemaName" "rid" "datastoreImage" $datastoreImage "datastorePort" $datastorePort "datastoreHost" $datastoreHost "cockroachdbEnabled" .Values.cockroachdb.enabled ) -}}
{{- $waitForSCDSchema := include "init-container-wait-for-schema" (dict "schemaName" "scd" "datastoreImage" $datastoreImage "datastorePort" $datastorePort "datastoreHost" $datastoreHost "cockroachdbEnabled" .Values.cockroachdb.enabled ) -}}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: {{.Release.Name}}-core-service
  name: {{.Release.Name}}-core-service
spec:
  minReadySeconds: 30
  replicas: {{ len .Values.loadBalancers.cockroachdbNodes }}
  selector:
    matchLabels:
      app: {{.Release.Name}}-core-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{.Release.Name}}-core-service
    spec:
      initContainers:
        {{- $waitForDatastore | nindent 8 }}
        {{- $waitForRIDSchema | nindent 8 }}
        {{- $waitForSCDSchema | nindent 8 }}
      containers:
        - args:
            - --accepted_jwt_audiences={{$dss.conf.hostname}}
            - --addr=:8080
            - --public_endpoint=https://{{$dss.conf.hostname}}
            - --cockroach_host={{ $datastoreHost }}
            - --cockroach_port={{ $datastorePort }}
            - --cockroach_user={{ $datastoreUser }}
{{ if $.Values.cockroachdb.enabled }}
            - --cockroach_ssl_dir=/cockroach/cockroach-certs
            - --cockroach_ssl_mode=verify-full
            - --locality={{ .Values.cockroachdb.conf.locality }}
{{ else }}
            - --cockroach_ssl_dir=/opt/yugabyte-certs
            - --cockroach_ssl_mode=verify-full
{{ end }}
            - --dump_requests=true
            - --enable_scd={{$dss.enableScd | default true}}
            - --garbage_collector_spec=@every 30m
            - --gcp_prof_service_name=
            {{- if $dss.conf.jwksEndpoint }}
            - --jwks_endpoint={{ $dss.conf.jwksEndpoint }}
            {{- end }}
            {{- if $dss.conf.jwksKeyIds }}
            - --jwks_key_ids={{ $dss.conf.jwksKeyIds | join "," }}
            {{- end }}
            {{- if $dss.conf.pubKeys }}
            - --public_key_files={{ $dss.conf.pubKeys | join "," }}
            {{- end }}
          command:
            - core-service
          image: {{ $dss.image }}
          imagePullPolicy: {{ $dss.imagePullPolicy | default "Always" }}
          name: core-service
          ports:
            - containerPort: 8080
              name: http
          readinessProbe:
            httpGet:
              path: /healthy
              port: 8080
          stdin: false
          tty: false
          volumeMounts:
            {{- include "ca-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}
            {{- include "client-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}
            {{- include "public-certs:volumeMount" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 12 }}
      imagePullSecrets: []
      terminationGracePeriodSeconds: 30
      volumes:
        {{- include "ca-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 8 }}
        {{- include "client-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 8 }}
        {{- include "public-certs:volume" (dict "cockroachdbEnabled" $.Values.cockroachdb.enabled ) | nindent 8 }}
