{{- $cloudProvider := $.Values.global.cloudProvider}}

{{- if $.Values.monitoring.enabled }}
{{- if $.Values.monitoring.externalService.enabled }}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
    {{- include (printf "%s-lb-default-annotations" $cloudProvider)
      (dict
        "name" "prometheus-external"
        "ip" $.Values.monitoring.externalService.ip
        "subnet" $.Values.monitoring.externalService.subnet
        "cloudProvider" $cloudProvider
      ) | nindent 4
    }}
  labels:
    app: prometheus
    name: prometheus-external
  name: prometheus-external
  namespace: default
spec:
  {{- include (printf "%s-lb-spec" $cloudProvider) (dict "ip" $.Values.monitoring.externalService.ip) | nindent 2}}
  ports:
    - name: prometheus-external
      port: 9090
      targetPort: 9090
  publishNotReadyAddresses: true
  selector:
    app.kubernetes.io/name: prometheus

  type: LoadBalancer

{{- end }}
{{- end }}
