{{- $cloudProvider := $.Values.global.cloudProvider}}

{{- if $.Values.yugabyte.enabled }}

# Master nodes Gateways
{{- range $i, $lb := .Values.loadBalancers.yugabyteMasterNodes }}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
    {{- include (printf "%s-lb-crdb-annotations" $cloudProvider)
      (dict
        "name" (printf "%s-%s" "ybdb-ext" ( $i | toString) )
        "ip" $lb.ip
        "subnet" $lb.subnet
        "cloudProvider" $cloudProvider
      ) | nindent 4
    }}
  labels:
    app: yugabyte
    name: ybdb-ext-{{$i}}
  name: ybdb-ext-{{$i}}
spec:
  {{- include (printf "%s-lb-spec" $cloudProvider) (dict "ip" $lb.ip) | nindent 2}}
  ports:
    - name: yugabyte-master-db-ext-{{$i}}
      port: 7100
      targetPort: 7100
    - name: yugabyte-tserver-db-ext-{{$i}}
      port: 9100
      targetPort: 9100
  publishNotReadyAddresses: true
  selector:
     yugabytedUi: "true"
     apps.kubernetes.io/pod-index: "{{$i}}"
  type: LoadBalancer
{{- end }}
{{- end }}
