name: Continuous integration
on:
  pull_request: # All
  push:
    branches:
    - master
jobs:
  hygiene-tests:
    name: Repository hygiene
    runs-on: ubuntu-latest
    steps:
    - name: Job information
      run: |
        echo "Job information"
        echo "Trigger: ${{ github.event_name }}"
        echo "Host: ${{ runner.os }}"
        echo "Repository: ${{ github.repository }}"
        echo "Branch: ${{ github.ref }}"
        docker images
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Python lint
      run: make python-lint
    - name: Automated hygiene verification
      run: make hygiene
    - name: Shell lint
      run: make shell-lint
    - name: Go lint
      run: make go-lint
    - name: Terraform lint
      run: make terraform-lint

  dss-tests:
    name: DSS tests
    runs-on: ubuntu-latest
    steps:
    # See https://github.com/golang/go/issues/75031, can be removed when fixed
    - name: Set go tool chain version
      run: go env -w GOTOOLCHAIN=go1.25.5+auto
    - name: Job information
      run: |
        echo "Job information"
        echo "Trigger: ${{ github.event_name }}"
        echo "Host: ${{ runner.os }}"
        echo "Repository: ${{ github.repository }}"
        echo "Branch: ${{ github.ref }}"
        docker images
        go env
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Deployment infrastructure tests
      run: make evaluate-tanka
    - name: Go unit tests
      run: make test-go-units
    - name: Go unit tests with CockroachDB
      run: make test-go-units-crdb
    - name: Build dss image
      run: make build-dss
    - name: Tear down any pre-existing local DSS instance
      run: make down-locally
    - name: Start local DSS instance
      run: make start-locally
    - name: Probe local DSS instance
      run: make probe-locally
    - name: Run Qualifier against local DSS instance
      run: make qualify-locally
    - name: Run evict tests against local DSS instance
      run: make evict-locally
    - name: Bring down local DSS instance
      run: make down-locally
    - name: Collect coverage data
      run: make coverage-report-go
    - name: Save coverage data
      if: startsWith(github.ref, 'refs/heads/master')
      uses: actions/upload-artifact@v4
      with:
        name: coverage-data
        path: coverage.out

  dss-tests-with-yugabyte:
    name: DSS tests with Yugabyte
    runs-on: ubuntu-latest
    env:
      COMPOSE_PROFILES: with-yugabyte
    steps:
      - name: Job information
        run: |
          echo "Job information"
          echo "Trigger: ${{ github.event_name }}"
          echo "Host: ${{ runner.os }}"
          echo "Repository: ${{ github.repository }}"
          echo "Branch: ${{ github.ref }}"
          docker images
          go env
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build dss image
        run: make build-dss
      - name: Tear down any pre-existing local DSS instance
        run: make down-locally
      - name: Start local DSS instance
        run: make start-locally
      - name: Probe local DSS instance
        run: make probe-locally
      - name: Run Qualifier against local DSS instance
        run: make qualify-locally
      - name: Run evict tests against local DSS instance
        run: make evict-locally
      - name: Bring down local DSS instance
        run: make down-locally

  certificates-management-tests:
    name: Certificate management tests
    runs-on: ubuntu-latest
    steps:
    - name: Job information
      run: |
        echo "Job information"
        echo "Trigger: ${{ github.event_name }}"
        echo "Host: ${{ runner.os }}"
        echo "Repository: ${{ github.repository }}"
        echo "Branch: ${{ github.ref }}"
        docker images
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Tests
      run: cd test/certificates-management/ && python test.py
